*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-color: #e2dada;
}
.container{
    
    width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}
.containerDosProdutos{
    
}
.containerDoCarrinho{
    border-radius: 10px;
    background-color: white;
    height: 100%;
    width: 500px;
    
}
.ListaDeComida,.PreçoEItem,.item{
    padding: 10px;
    list-style: none;
}
.Valores{
    padding: 10px 10px 0px 10px;
}
.containerDoCarrinho p{
    color:rgba(209, 138, 5, 0.918) ;
    font-weight: bolder;
    font-size: 25px;
}
.containerDosProdutos header{
    font-size: 40px;
}
.containerDosProdutos ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.containerDosProdutos ul li{
    padding-top: 20px;
    position: relative;
    flex: 1 0 30%;
    margin: 10px;
}
.containerDosProdutos ul li img{
    border-radius: 5px;
    width: 250px;
}
.containerDosProdutos ul li button{
    background-color: white;
    border: 1px solid rgba(255, 166, 0, 0.253);
    left: 45px;
    position: absolute;
    text-align: center;
    width: 65%;
    height: 40px;
    right: 30px;
    top: 235px;
    border-radius: 20px;
    cursor: pointer;
}
.buttonAddCoisas{
    display: none;
    background-color: orange;
    border: 1px solid rgba(255, 166, 0, 0.253);
    left: 45px;
    position: absolute;
    text-align: center;
    width: 65%;
    height: 40px;
    right: 30px;
    top: 235px;
    border-radius: 20px;
    cursor: pointer;
}
.buttonAddCoisas .ButtonMenos{
    position: absolute;
    left: 100px;
}
.containerDosProdutos ul li button p{
    position: absolute;
    display: inline;
    top: 12px;
    left: 68px;
}
.containerDosProdutos ul li button span{
    font-weight: 300;
    color: rgb(184, 120, 2);
    position: absolute;
    text-align: left;
    left: 40px;
    top: 6px;
}
.preço{
    color: orange;
    padding-top: 5px;
}